body {
  background-color: green;
  color: black;
  margin-bottom: 40px;
}

.card {
  transition: transform 0.5s ease;
  perspective: 1000px;
  background-color: #fff;
  width: 250px;
  height: 368px;
  margin: auto;
  margin-top: 4rem;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 10px rgba(0, 18, 2, 0.3);
  cursor: pointer;
}

.card img {
  transform: scaleX(-1);
  margin-top: 20%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.simbol {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 75px;
}

.simbol2 {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 75px;
  transform: rotate(180deg);
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50%;
  font-size: 75px;
}

#myButtonFixed {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-posit {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  background-color: rgb(255, 0, 0);
  color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  box-shadow: 5px 5px 5px 3px rgba(0, 18, 2, 0.3);
}

.btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
.btn-size {
  position: absolute;
  background-color: rgb(255, 0, 0);
  color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  box-shadow: 5px 5px 5px 3px rgba(0, 18, 2, 0.3);
}

.btn-size:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.inp {
  position: absolute;
  background-color: rgb(255, 254, 254);
  text-align: center;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 80, 9, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(0deg);
}

.card .back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(-180deg);
}

.card.flipped .back {
  transform: rotateY(0deg);
}
.card.flipped {
  transform: rotateY(-180deg);
  box-shadow: 10px 10px 10px 10px #00ff804d;
}
